header  { 
    background-color: gray;
    font-size: 30px
}

#L1 {
    text-align: center;
    font-size: 20px;
    background-color: lightgray;
    
}

#L2,#L3,#L4 {
    text-align: center;
    font-size: 20px;
    background-color: white;
    padding: 15px;
    
}

footer {
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    background-color: gray;
}
#card-title {
    text-align: center;
    margin-top: -15px;
    font-size: 23px;
    font-style: bold;
}
#data, #peso {
    font-size: 20px ;
}


#card {
    background-color: lightgray;
    border-radius: 0;
    width: 200px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -100px;
    margin-top:-100px;
    z-index: 10;
}
#salvar {
    font-size: 15px;
    color: blue;
    font-style: bold;
    text-decoration: none;
}

#cancelar {
    font-size: 15px;
    color: black;
    font-style: bold;
    text-decoration: none
}

